h1{color:rgba(88, 73, 172, 0.87)}

h2{
    text-align: center;
    color:blueviolet
}

div {
    position: relative;
    float: left;
    border:1px solid black;
    margin:10px;
    padding:10px;
    width: 240px;
    height: 280px;
    background-color: rgba(238, 130, 238, 0.192);
}